#successMsg {
    cursor: pointer;
    width: 36.5%;
    margin: 0 auto;
}

#errorMsg {
    cursor: pointer;
    width: 36.5%;
    margin: 0 auto;
}

#userImg {
    width: 30px;
    height: 30px;
}

#login-link{
    text-decoration: none;
}